<% this.title = "Error Page" %>
<% this.view = "error" %>
<% include header %>

<div class="mdui-container">

	<h1><%= error.status %> <%= message %></h1>
	<pre><%= error.stack %></pre>
  
</div>

<% include footer %>