  </body>

  <script type="text/javascript" src="/javascripts/lib/jquery.min.js"></script>

  <% if (this.view == 'reader') { %>
    <!-- latex support -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0-rc.1/katex.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0-rc.1/katex.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0-rc.1/contrib/auto-render.min.js" onload="
      window.renderLatex = () => {
        renderMathInElement(document.getElementById('postContent'), {
          delimiters: [
            { left: '$$', right: '$$', display: true, throwOnError: false },
            { left: '\\[', right: '\\]', display: true, throwOnError: false },
            { left: '$', right: '$', display: false, throwOnError: false },
            { left: '\\(', right: '\\)', display: false, throwOnError: false },
          ]
        })
        $('.katex').each(function () {
          $(this).html(' ' + $(this).html() + ' ')
        })
      }
      renderLatex()
    "></script>
   <!-- latex support -->
  <% } %>

  <script type="text/javascript" src="/javascripts/lib/mdui.min.js"></script>
  <script type="text/javascript" src="/javascripts/lib/axios.min.js"></script>

  <% if (this.view == 'reader') { %>
    <script type="text/javascript" src="/javascripts/lib/nprogress.min.js"></script>
    <script> NProgress.configure({ parent: '.mdui-container>.mdui-card', minimum: 0.2 }); </script>

    <script type="text/javascript" src="/javascripts/reader.js"></script>
  <% } %>

</html>