.mdui-container {
	padding-top: 40px;
	padding-bottom: 40px;
}

.page-reader {
	.mdui-drawer {
		white-space: normal;
		.mdui-list {
			.mdui-list-item {
				.mdui-list-item-title {
					height: 20px;
					-webkit-line-clamp: 1;

					display: -webkit-box;
					overflow: hidden;
					text-overflow: ellipsis;
					-webkit-box-orient: vertical;
				}
				.mdui-list-item-text {
					height: 80px;
					-webkit-line-clamp: 4;

					display: -webkit-box;
					overflow: hidden;
					text-overflow: ellipsis;
					-webkit-box-orient: vertical;
				}
			}
		}
	}
}