.mdui-container {
	padding-top: 40px;
	padding-bottom: 40px;
}

.reader-drawer {
	white-space: normal;
	.mdui-list {
		.mdui-list-item {
			.overflow() {
				display: -webkit-box;
				overflow: hidden;
				text-overflow: ellipsis;
				-webkit-box-orient: vertical;
			}
			.mdui-list-item-title {
				height: 20px;
				-webkit-line-clamp: 1;
				.overflow();
			}
			.mdui-list-item-text {
				height: 60px;
				-webkit-line-clamp: 3;
				.overflow();
			}
		}
	}
}